
:root {
	--font-body: Helvetica Neue, Roboto, Segoe UI, -apple-system, BlinkMacSystemFont, Oxygen, Ubuntu, Cantarell, Droid Sans,  sans-serif;
	--font-mono: 'Fira Mono', monospace;
	--color-bg-0: rgb(255, 255, 255);
	--color-bg-1: hsl(0, 0%, 100%);
	--color-bg-2: hsl(0, 0%, 100%);
	--color-theme-1: #ff3e00;
	--color-theme-2: #4075a6;
	--color-text: rgba(0, 0, 0, 0.7);
	--column-width: 42rem;
	--column-margin-top: 4rem;
	font-family: var(--font-body);
	color: var(--color-text);
}

body {
	min-height: 100vh;
	margin: 0;
	background-attachment: fixed;
	background-color: var(--color-bg-1);
	background-size: 100vw 100vh;
	background-image: radial-gradient(
			50% 50% at 50% 50%,
			rgba(255, 255, 255, 0.75) 0%,
			rgba(255, 255, 255, 0) 100%
		),
		linear-gradient(180deg, var(--color-bg-0) 0%, var(--color-bg-1) 15%, var(--color-bg-2) 50%);
}

h1,
h2,
h3,
p {
	font-weight: 400;
}

p {
	line-height: 1.5;
}

a {
	color: var(--color-theme-1);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1 {
	font-size: 2rem;
	text-align: center;
  margin-bottom: 30px;
  line-height: 1.35;
}

h2 {
	font-size: 1.5rem;
  font-weight: 600;
}

h3 {
  font-size: 1.2 rem;
  font-weight: 600;
}

/* pre {
	font-size: 16px;
	font-family: var(--font-mono);
	background-color: rgba(255, 255, 255, 0.45);
	border-radius: 3px;
	box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
	padding: 0.5em;
	overflow-x: auto;
	color: var(--color-text);
} */

.text-column {
	display: flex;
	max-width: 48rem;
	flex: 0.6;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
}

#diagram-container {
  max-width: 100%;
  margin: auto;
  margin-bottom: 1.7em;
  background-color: #FFF;
  border-radius: 20px;
  padding: 0.4em 0.8em;
}
#diagram-label-container {
  display: flex;
  justify-content: space-around; 
  align-items: center;
  padding-top: 0;
  width: 95%;
  margin: 0 auto;
}

.survey-page {
  background-color: #ededed;
  padding: 2em 3.2em;
  border-radius: 30px;
  width: 45em;
  margin: 2% auto auto;
}

#quiz {
  background-color: #fcfcfc;
  padding: 0.3em 2.4em;
  border-radius: 23px;
  margin: 0 auto;
}

.survey-page-table {
  background-color: #ededed;
  padding: 2em 3em;
  border-radius: 30px;
  width: 50em;
  margin: 0.2em auto;
}

#quiz-table {
  background-color: #fcfcfc;
  padding: 0.4em 1.7em;
  border-radius: 25px;
  margin: 1.3em auto 1em;
}

table {
  max-width: 100%;
}

/* table settings */
th {
  vertical-align: bottom;
  font-weight: 400;
}

/* Target the first th element in each row */
td:first-child {
  padding: 0 12px 0 3px;
  min-width: 14em;
  font-weight: 400; /* Optional: if you want the first th to be bold */
}

td, th {
  padding-top: 17px; /* Increase space at the top of each cell */
  line-height: 1.25;
}

td {
  padding-bottom: 17px; /* Increase space at the bottom of each cell */
}

th {
  font-size: 14px;
  padding-bottom: 10px;
  
}

tr {
  /* height: 70px; */
  max-width: 100%;
}

.row:hover {
  background-color: #c7ffe9;
}

.question {
  margin: 20px 0;
}

.question p {
  margin-bottom: 0.25em;
}

.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.options > * { /* Target all direct children of .options */
  max-width: 100px; 
  flex: 1; /* taking up equal width of the container */
  min-width: 38px; /*Prevents flex items from growing beyond their content's width*/
  margin: 0 15px; /* Adds some space between items */
} 

.option {
  display: flex;
  flex-direction: column-reverse; /* radio button below the text */
  align-items: center; 
}

.options-likert {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 3px 35px;
  /* background-color: #fcfcfc; */
  /* border-radius: 10px; */
}

.options-likert:hover {
  background-color: #c7ffe9;
}

input,
button,
select {
	font-size: inherit;
	font-family: inherit;
}

/* dropdown menu */
select {
  padding: 1px 3px;
  border-color: #a6a6a6;
  border-width: 2px;
  margin: 5px 2px;
  border-radius: 5px;
}

/* text input, radio buttons */
input {
  padding: 2px 3px;
  border-color: #a6a6a6;
  border-width: 2px;
  margin: 5px 6px;
  border-radius: 5px;
}

#birthCity {
  width: 250px;
}

button:focus:not(:focus-visible) {
	outline: none;
}

@media (min-width: 720px) {
	h1 {
		font-size: 1.8rem;
	}
}

.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: auto;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;
}

button {
  cursor: pointer;
  padding: 12px 30px;
  background-color: #404040;
  color: white;
  border: none;
  border-radius: 10px;
  /* font-size: 18px; */
  /* width: 115px; */
  display: block;
  margin: 25px auto 0;

}

button:hover {
  background-color: #7d7d7d;
}

button:disabled {
  background-color: #ccc;
  color: #666;
  opacity: 0.5;
  cursor: not-allowed;
}

#view-prediction {
  padding: 0.1em 0;
  background-color: rgba(0,0,0,0);
  color: #3b3b3b;
  border: none;
  cursor: pointer;
  text-decoration: underline;
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0px;
}

#view-prediction:hover {
  background-color: rgba(0,0,0,0);
  color: #3db92d;
}
